.app__button {
  width: 120px;
  height: 45px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.app__button-delete {
  background: rgb(226, 51, 95);
}
