.app__controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.app__button {
  width: 120px;
  height: 45px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.app__button-add {
  background: rgba(107, 74, 203, 1);
}
